In [5]:
# Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

In [11]:
# Exercise 3 - Create a markdown cell for an introduction. (1 pt)

### Introduction

This notebook provides an overview of various tools, languages, and libraries that are essential in the field of Data Science. It also includes basic examples of arithmetic operations performed in Python.

In [13]:
# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

### Data Science Languages

- Python
- R
- SQL
- Julia
- Scala

In [17]:
# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

### Data Science Libraries

- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

In [21]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

### Data Science Tools

| Tool          | Description                                |
|---------------|--------------------------------------------|
| Jupyter       | A web-based interactive computing platform that allows users to create and share documents that contain live code, equations, visualizations, and narrative text. |
| RStudio       | A powerful IDE for R, providing tools for plotting, history, debugging, and workspace management. |
| Apache Spark  | A unified analytics engine for large-scale data processing. |
| TensorFlow    | An end-to-end open-source platform for machine learning. |
| Tableau       | A data visualization tool that is used to convert raw data into an understandable format. |

In [29]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Arithmetic Expression Examples

Below are examples of simple arithmetic operations like addition and multiplication, as well as unit conversion from minutes to hours.

In [33]:
# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

#### Multiply 3 by 4 and add 5

In [37]:
result = (3 * 4) + 5

In [39]:
result

17

In [41]:
# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [43]:
# Convert 200 minutes to hours

In [45]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [47]:
# Exercise 10 - Insert a markdown cell to list Objectives. (3 pts)

### Objectives

- Identify and list popular data science languages.
- Identify commonly used libraries for data science.
- Demonstrate basic arithmetic operations in Python.
- Show how to perform a simple unit conversion.

In [51]:
# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

### Author

Jane Doe

In [55]:
# Exercise 12 - Share your notebook through GitHub (3 pts)

1. Save this notebook as a `.ipynb` file.
2. Create a new public repository on GitHub.
3. Upload the `.ipynb` file to the repository.
4. Share the link to the repository as part of your submission

In [60]:
# Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

Take a screenshot of the first page of this notebook, including the title, introduction, and the list of languages. Save the screenshot for submission.